<% if user_signed_in? %>
  <li class='nav-item'><%= link_to 'Edit Account', edit_user_registration_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Sign Out'.html_safe, destroy_user_session_path, :method=>'delete', class: 'nav-link' %></li>
<% else %>
  <li class='nav-item'><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Sign In'.html_safe, new_user_session_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to '<span class="glyphicon glyphicon-user"></span> Sign Up'.html_safe, new_user_registration_path, class: 'nav-link' %></span></li>
<% end %>
